:root{
    --card-y: 300px;
    --card-x: 200px;
}

.card-container{
    cursor:pointer;
    perspective-origin: center;
    perspective: 700px;
}


.card{
    height: var(--card-y);
    width: var(--card-x);
    margin: 10px;
    
    border: solid 5px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    transition: transform 0.5s, box-shadow 0.15s;
    
    transform-style: preserve-3d;

    user-select: none;

}
.card-container:hover>.card{
    box-shadow: 0px 0px 10px #e8e671 ;
    transform: translateZ(50px);
}
.card-container.cover>.card{
    transform: rotateY(180deg);
}
.card-container.reveal>.card::after{
    content: "";
    position: absolute;
    display: block;
    width: var(--card-x);
    height: var(--card-y);

    transform: translateZ(0.025px);
}
.card-container.reveal.green>.card::after{
    background-color: rgba(0,255,0,0.2);
}
.card-container.reveal.red>.card::after{
    background-color: rgba(255,0,0,0.2);
}

img{
    position: absolute;
    height: var(--card-y);
    width: var(--card-x);
    object-fit:cover;   
}
.card-name{
    
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 3px;
    font-family: 'DSFont', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    text-align: center;

    transform: translateZ(0.03px);
}
.img-front{
    
    transform: translateZ(0.02px);
}
.img-back{
    transform: rotateY(180deg);
    transform: translateZ(0.01px);
}
