:root{
    --card-x: 300px;
    --card-y: 200px;
}

.card-container{
    cursor:pointer;
    perspective-origin: center;
    perspective: 700px;
}

.card{
    height: var(--card-x);
    width: var(--card-y);
    margin: 10px;
    
    border: solid 5px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    transition: transform 0.5s;
    
    transform-style: preserve-3d;

    user-select: none;

}
.card-container:hover>.card{
    transform: translateZ(50px);
}

img{
    position: absolute;
    height: var(--card-x);
    width: var(--card-y);
    object-fit:cover;   
}
.card-name{
    
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 3px;
    font-family: 'DSFont', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    text-align: center;

    transform: translateZ(0.03px);
}
.img-front{
    
    transform: translateZ(0.02px);
}
.img-back{
    transform: rotateY(180deg);
    transform: translateZ(0.01px);
}
